
.App {
  text-align: center;
  height: 100vh;
}


img.scavengerhunt {
  height: 100%;
}

/* INFO BAR */
.info {
  float: right;
  clear: right;

  padding: 1rem;

  background-color: navy;
  color: white;
  font-weight: bold;
}

/* MENU */
.menu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .8);
  padding: 0;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0.5rem 0.5rem 10px 1px;
}

.menu header, .menu li {
  padding: 1rem;
}

.menu header {
  font-weight: bold;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.menu li:hover {
  background-color: #fff;
}

.foundItem {
  color: rgba(0, 0, 0, 0.2);
}

.message {
  position: fixed;
  top: 0;
}
.hidden {
  display: none;
}

/* TAGGED ITEMS */
.itemBorder {
  border: 2px solid white;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.itemBorder:hover label {
  background-color: white;
  color: black;
}
.itemBorder label {
  /* position better */
  font-size: 0.75rem;
}

/* SCOREBOARD */
.submitScore {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  width: 30%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scoreboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 67%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scoreboard header {
  font-size: large;
  font-weight: bold;
}

.scoreboard ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scoreboard .titles {
  font-weight: bold;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.scoreboard li {
  display: flex;
  justify-content: space-between;
}

.scoreboard li.self {
  background-color: orange;
  padding: 0.5rem 0;
}