.App {
  text-align: center;
  height: 100vh;
}


img.scavengerhunt {
  height: 100%;
}

/* INFO BAR */
.info {
  float: right;
  clear: right;

  padding: 1rem;

  background-color: navy;
  color: white;
  font-weight: bold;
}

/* MENU */
.menu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, .9);
  padding: 0;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0.5rem 0.5rem 10px 1px;
}

.menu header, .menu li {
  padding: 1rem;
}

.menu header {
  font-weight: bold;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.menu li:hover {
  background-color: #fff;
}

.foundItem {
  color: rgba(0, 0, 0, 0.2);
}