body {
  max-height: 100vh;
  overflow-y: hidden; /* doesn't work! whaaaaa? */
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  width: min-content;
  margin: 0 auto;

  border-right: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


img.scavengerhunt {
  height: 100%;
}

/* SIDEBAR */
.sidebar {
  min-width: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

/* info box */
.info {
  padding: 1rem;

  background-color: navy;
  color: white;
  font-weight: bold;
}

/* itemList */

.itemList {
  overflow-y: auto;
}

/* MENU + SIDEBAR LIST */
.menu {

  padding: 0;

  border-radius: 3px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .8);
  box-shadow: rgba(0, 0, 0, 0.2) 0.5rem 0.5rem 10px 1px;
}

/* pointer */
.menuPointer {
  width: 0;
  height: 0;
  border-right: 10px solid rgba(255, 255, 255, .8);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 2;
}

.menu header, .menu li, .itemList header, .itemList li {
  padding: 1rem;
}

.menu header, .itemList header {
  font-weight: bold;
}

.menu ul, .itemList ul {
  padding: 0;
  margin: 0;
}

.menu li, .itemList li {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.menu li:hover {
  background-color: #fff;
}

.foundItem {
  color: rgba(0, 0, 0, 0.2);
}
.menu .foundItem {
  display: none;
}

/* FADING MESSAGE */

.message {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 1rem;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);

  border-radius: 0 0 0.5rem 0.5rem;
}
.hidden {
  display: none;
}

/* TAGGED ITEMS */
.itemBorder {
  border: 2px solid white;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0);
  box-shadow: rgba(0, 0, 0, 0.4) 3px 5px 5px 0px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.itemBorder:hover label {
  background-color: white;
  color: black;
  z-index: 10;
}
.itemBorder label {
  /* position better */
  font-size: 0.75rem;
}

/* SCORE SUBMISSION BOX */
.submitScore {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  width: 30%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.submitScore label {
  width: 100%;
  margin-bottom: 1rem;
}

/* SCOREBOARD */
.scoreboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  max-height: 100vh;
  overflow-y: auto;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 67%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scoreboard header {
  font-size: large;
  font-weight: bold;
}

.scoreboard ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scoreboard .titles {
  font-weight: bold;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.scoreboard li {
  display: grid;
  grid-template-columns: 4rem 1fr 1fr;

  padding: 0.25rem;
}

.scoreboard li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.scoreboard .titles:hover {
  background-color: inherit;
}

.scoreboard li.self {
  background-color: rgb(31, 98, 197);
}

/* PROGRESS BAR */
.outer {
  /* box-shadow:  */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom:rgba(0, 0, 0, 0.2);
}
.inner {
  background-color: rgb(249, 193, 80);
  transition-property: 'width';
  transition-duration: 0.5s;
}