.startScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-height: 100vh;
  overflow-y: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 67%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.thumbnail {
  width: 5rem;
}

.mobileOnly {
  display: none;
}

@media only screen and (max-width: 800px) {
  .mobileOnly {
    display: block;
    font-weight: bold;
  }
}