.toggleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toggle label {
  margin-left: 0.5rem;
}

.toggle {
  width: 2rem;
  height: 1rem;

  margin-right: 0.5rem;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;

  position: relative;
}

.toggleOn .innerToggle {
  left: 0;
}
.toggleOff .innerToggle {
  left: .8rem;
}

.innerToggle {
  position: absolute;
  top: 0.1rem;

  transition-property: all;
  transition-duration: 0.1s;

  margin: 0 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}